<button
  type="button"
  class="btn btn-primary btn-circle float-right"
  data-toggle="modal"
  data-target="#exampleModal"
  data-whatever="@getbootstrap"
>
  <i class="fas fa-plus"></i>
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Organización</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              name=""
              #nombre
              placeholder="Organización"
              autofocus
            />
          </div>
          <div class="form-group">
            <textarea
              name=""
              #descripcion
              id=""
              cols="50"
              rows="3"
              placeholder="Descripción"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          class="btn btn-primary btn-block"
          data-dismiss="modal"
          (click)="addOrg(nombre, descripcion)"
          >Crear</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-organizaciones
    *ngFor="let organizacion of organizaciones"
    [organizacion]="organizacion"
  ></app-organizaciones>
</div>
